<footer>

    <div class="container">
        <div class="footer-widgets">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-12">
                    <h3>EGrillNET</h3>

                    <p>Bei EGrillNET handelt es sich um ein satirisches Angebot einer ironischen Aufbereitung des Begrifss EGrill. Alle
                        Fakten, Meinungen und Angaben sind frei erfunden und dienen einzig und allein der Unterhaltung. &hearts;</p>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <h3>Community & Weitere Seiten</h3>

                    <ul>
                        <li><a href="https://www.mauschine.de">Mauschine</a></li>
                        <li><a href="https://www.content-creator.org">content-creator.org</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <h3>Weitere Links</h3>

                    <ul>
                        <li><a href="https://github.com/mauschine/egrill">Webseite mitgestalten</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <h3>Rechtliches</h3>

                    <ul>
                        <li><a href="/legal/imprint"><i class="fa fa-angle-right"></i> Impressum</a></li>
                        <li><a href="/legal/privacy"><i class="fa fa-angle-right"></i> Datenschutz</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <p>Copyright &copy; 2019 EGrillNet & <a href="https://www.content-creator.org">content-creator.org</a> | Alle Rechte vorberhalten. </p>
        </div>
    </div>

</footer>
