{% extends 'layout.twig' %}

{% block body %}

    <section id="youtube">

        <div class="container">

            <h1>EGrill Modus aktivieren!</h1>

            <div class="video-container">
                <iframe src="https://www.youtube-nocookie.com/embed/V_7CvNZHX_s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

    </section>

    <section id="intro">

        <h1>Das typische EGrill</h1>

        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <div class="egrill-fact">
                        <h2>Du bist ein typisches EGrill?</h2>

                        <p>Dann heißen wir dich herzlich Willkommen auf der einzigen Seite, die du jemals brauchen
                            wirst, Kappa.</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="egrill-fact">
                        <h2>Du möchtest ein typisches EGrill werden?</h2>

                        <p>Hier findest du alles, was du brauchst, um ein EGrill zu werden.</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="egrill-fact">
                        <h2>Wie sieht eigentlich ein EGrill aus? Wie erkenne ich es?</h2>

                        <p>EIn EGrill erkennst du an seinem Equipment, dieses findest du weiter unten</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="egrill-fact">
                        <h2>Können wir uns mal tref..</h2>

                        <p>Nein.</p>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <section id="equipment">

        <h1>Equipment & Merkmale</h1>

        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-12">

                    <h2>Ikea Regal</h2>

                    <img src="https://www.ikea.com/PIAimages/0644546_PE702768_S5.JPG?f=s" alt="Kallax Regal">

                    <p>Es ist äußerst wichtig, dass du in deinem Zimmer MINDESTENS ein Kallax Regal hast. Ohne kannst du
                        schlichtweg gar nicht überleben.</p>

                </div>

                <div class="col-md-6 col-sm-12">

                    <h2>Sonnencreme</h2>

                    <img src="/images/sonne.jpeg" alt="Sonnencreme">

                    <p>Damit du vor dem Bildschirm order beim leichten Öffnen des Fensters nicht in Flammen aufgehst
                        brauchst du dringend Sonnencreme, Lichtschutzfaktor
                        am besten über 9000.</p>

                </div>

                <div class="col-md-6 col-sm-12">

                    <h2>League of Legends</h2>

                    <img src="/images/league.png" alt="League of Legends">

                    <p>Ohne einen League Account kannst du nicht LoL spielen. Ohne LoL Spielen kannst du nicht Support Main
                        sein. Wenn du kein Support Main bist,
                        dann bist du kein echtes EGrill.</p>

                </div>

                <div class="col-md-6 col-sm-12">

                    <h2>Du bist nicht so eine</h2>

                    <img src="https://i.imgflip.com/33d8u8.jpg" alt="Du bist nicht so eine">

                    <p>Alles Schlampen außer Mutti, außer dir, du bist nicht so eine!</p>
                </div>

            </div>
        </div>

    </section>

    <section id="buy-an-egrill">

        <div class="container">

            <h1>Ein EGrill kaufen</h1>

            <p>Viele Menschen können sich kein EGrill leisten. Sie sind selten und sehr schwer zu haben, noch zudem
            flüchtig und meistens ist wenig Fleisch dran. Deswegen stellen wir die nächste Version des EGrills
            für nur <b>999€</b> vor</p>

            <img src="/images/egrill.jpg" alt="egrill">

        </div>

    </section>
{% endblock %}
