<!DOCTYPE html>
<html lang="de">
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Relevant meta tags -->
    <meta name="author" content="Felix Klauke">
    <meta name="copyright" content="Felix Klauke">
    <meta name="description" content="Du bist ein typisches EGrill oder auf dem besten Weg eines zu werden? Dann schau vorbei!">
    <meta name="keywords" content="EGrill, Dating, Adoptivkind, Opfermagnet, Dating, Partner, Plattform">

    <!-- Open Graph -->
    <meta property="og:type" content="business.business">
    <meta property="og:title" content="EGrillNET">
    <meta property="og:url" content="https://www.egrill.net">
    <meta property="og:image" content="https://www.egrill.net/images/logo.png">

  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
