<!DOCTYPE html>
<html lang="de">
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Relevant meta tags -->
    <meta name="author" content="Felix Klauke">
    <meta name="copyright" content="Felix Klauke">
    <meta name="description" content="Du bist ein typisches EGrill oder auf dem besten Weg eines zu werden? Dann schau vorbei!">
    <meta name="keywords" content="EGrill, Dating, Adoptivkind, Opfermagnet, Dating, Partner, Plattform">

  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
